.coupon {
	width: 290px;
	height: 232px;
}


.coupon__body {
	height: 208px;
	padding: 3px;
	background-color: #fff;
	border: 1px solid #E9E9E9;
}

.coupon__bodytype {
	height: 200px;
	border: 2px solid #D1D1D1;
}