---
layout: default
title: Digital Reciepts Landing Success
---

{% include project/digital-receipts/header.html %}
<section class="section-intro">
	<div class="container">
	<div class="row">
		<div class="col-sm-14 col-md-16">
			<h1 class="intro__title">Success!</h1>
			<p class="intro__heading1">Your deal loaded on your ExtraCare card ending in 9425 and is ready to use. Happy savings!</p>
			<p class="intro__heading2">Just present your ExtraCare card to the associate when you check out.</p>
			{% for coupon in site.data.coupon-intro %}
				{% include project/digital-receipts/coupon.html %}
			{% endfor %}	
			<p class="intro__help">Questions? Get <a href="#">help here</a>.<br>Didn’t find your answer through the link? Please call ExtraCare Customer Service at <strong>1-800-746-7278</strong>.</p>
		</div>
		<div class="col-sm-10 col-md-8">
			<img class="gb-placeholdit-img img__fpo1" src="https://placeholdit.imgix.net/~text?txtsize=18&txt=FPO%201%20(290x200)&w=290&h=200" />
		</div>
	</div>
</div>
</section>
<section class="section-divider">
	<div class="container">
		<div class="row">
			<div class="col-sm-24">
				<div class="hr"></div>
			</div>
		</div>
	</div>
</section>
<section class="section-coupons section-coupons--new bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-24">
				<h1 class="section__title">New! <br>Act on these deals now!</h1>
				<h2 class="section__subtitle">Simply send them to your card.</h2>
				<div class="coupon-grid">
				{% for coupon in site.data.coupons-new %}
				    <div class="coupon-grid__item">{% include project/digital-receipts/coupon.html %}</div>
				{% endfor %}	
				</div>			
			</div>
		</div>
	</div>
</section>
<section class="section-coupons section-coupons--deals bg-blue-light1">
	<div class="container">
		<div class="row">
			<div class="col-sm-24">
				<h1 class="section__title">Deals ready to use.</h1>
				<h2 class="section__subtitle">You’ve already activated them; now use them before they expire.</h2>
				<div class="coupon-grid">
				{% for coupon in site.data.coupons-ready %}
				    <div class="coupon-grid__item">{% include project/digital-receipts/coupon.html %}</div>
				{% endfor %}	
				</div>
			</div>
		</div>
	</div>
</section>
{% include project/digital-receipts/outro.html %}
{% include project/digital-receipts/footer.html %}