---
layout: default
title: Type Scale
---

<div class="jumbotron">
      <div class="container-fluid">
        <h1>Font Specifications</h1>
        <p>HelveticaNeueLTStd Thin</p>
      </div>
    </div>

    <div class="container-fluid" style="padding: 0px 50px 50px 50px;">
      <div class="row">
        <div class="col-md-4 scale-col-a">
          <h2>10px/12px | spacing 0px</h2>
          <p class="font-10">{% include play-typescale.html %}</p>
          <h2>11px/13px | spacing 0px</h2>
          <p class="font-11">{% include play-typescale.html %}</p>
          <h2>12px/14px | spacing 0px</h2>
          <p class="font-12">{% include play-typescale.html %}</p>
          <h2>14px/16px | spacing 0px</h2>
          <p class="font-14">{% include play-typescale.html %}</p>
          <h2>16px/18px | spacing 0px</h2>
          <p class="font-16">{% include play-typescale.html %}</p>         
          <h2>18px/20px | spacing 0px</h2>
          <p class="font-18">{% include play-typescale.html %}</p>
          <h2>20px/22px | spacing 0px</h2>
          <p class="font-20">{% include play-typescale.html %} </p>      
          <h2>22px/24px | spacing 0px</h2>
          <p class="font-22">{% include play-typescale.html %}</p>      
          <h2>26px/28px | spacing 0px</h2>
          <p class="font-26">{% include play-typescale.html %}</p>      
          <h2>26px/28px | spacing 0px</h2>
          <p class="font-26">{% include play-typescale.html %}</p>          
          <h2>28px/30px | spacing 0px</h2>
          <p class="font-28">{% include play-typescale.html %}</p>
          <h2>32px/34px | spacing 0px</h2>
          <p class="font-32">{% include play-typescale.html %}</p>
          <h2>36px/38px | spacing 0px</h2>
          <p class="font-36">{% include play-typescale.html %}</p>
          <h2>42px/44px | spacing 0px</h2>
          <p class="font-42">{% include play-typescale.html %}</p>
          <h2>46px/48px | spacing 0px</h2>
          <p class="font-46">{% include play-typescale.html %}</p>
          <h2>52px/54px | spacing 0px</h2>
          <p class="font-52">{% include play-typescale.html %}</p>
          <h2>58px/60px | spacing 0px</h2>
          <p class="font-58">{% include play-typescale.html %}</p>
          <h2>66px/68px | spacing 0px</h2>
          <p class="font-66">{% include play-typescale.html %} </p>
          <h2>74px/78px | spacing 0px</h2>
          <p class="font-74">{% include play-typescale.html %}</p>
        </div>

        <div class="col-md-4 scale-col-b">
          <h2>10px/12px | spacing 0px</h2>
          <p class="font-10">{% include play-typescale.html %}</p>
          <h2>11px/13px | spacing 0px</h2>
          <p class="font-11">{% include play-typescale.html %}</p>
          <h2>12px/14px | spacing 0px</h2>
          <p class="font-12">{% include play-typescale.html %}</p>
          <h2>14px/16px | spacing 0px</h2>
          <p class="font-14">{% include play-typescale.html %}</p>
          <h2>16px/18px | spacing 0px</h2>
          <p class="font-16">{% include play-typescale.html %}</p>         
          <h2>18px/20px | spacing 0px</h2>
          <p class="font-18">{% include play-typescale.html %}</p>
          <h2>20px/22px | spacing 0px</h2>
          <p class="font-20">{% include play-typescale.html %} </p>      
          <h2>22px/24px | spacing 0px</h2>
          <p class="font-22">{% include play-typescale.html %}</p>      
          <h2>26px/28px | spacing 0px</h2>
          <p class="font-26">{% include play-typescale.html %}</p>      
          <h2>26px/28px | spacing 0px</h2>
          <p class="font-26">{% include play-typescale.html %}</p>          
          <h2>28px/30px | spacing 0px</h2>
          <p class="font-28">{% include play-typescale.html %}</p>
          <h2>32px/34px | spacing 0px</h2>
          <p class="font-32">{% include play-typescale.html %}</p>
          <h2>36px/38px | spacing 0px</h2>
          <p class="font-36">{% include play-typescale.html %}</p>
          <h2>42px/44px | spacing 0px</h2>
          <p class="font-42">{% include play-typescale.html %}</p>
          <h2>46px/48px | spacing 0px</h2>
          <p class="font-46">{% include play-typescale.html %}</p>
          <h2>52px/54px | spacing 0px</h2>
          <p class="font-52">{% include play-typescale.html %}</p>
          <h2>58px/60px | spacing 0px</h2>
          <p class="font-58">{% include play-typescale.html %}</p>
          <h2>66px/68px | spacing 0px</h2>
          <p class="font-66">{% include play-typescale.html %} </p>
          <h2>74px/78px | spacing 0px</h2>
          <p class="font-74">{% include play-typescale.html %}</p>
        </div>

         <div class="col-md-4 scale-col-c">
          <h2>10px/12px | spacing 0px</h2>
          <p class="font-10">{% include play-typescale.html %}</p>
          <h2>11px/13px | spacing 0px</h2>
          <p class="font-11">{% include play-typescale.html %}</p>
          <h2>12px/14px | spacing 0px</h2>
          <p class="font-12">{% include play-typescale.html %}</p>
          <h2>14px/16px | spacing 0px</h2>
          <p class="font-14">{% include play-typescale.html %}</p>
          <h2>16px/18px | spacing 0px</h2>
          <p class="font-16">{% include play-typescale.html %}</p>         
          <h2>18px/20px | spacing 0px</h2>
          <p class="font-18">{% include play-typescale.html %}</p>
          <h2>20px/22px | spacing 0px</h2>
          <p class="font-20">{% include play-typescale.html %} </p>      
          <h2>22px/24px | spacing 0px</h2>
          <p class="font-22">{% include play-typescale.html %}</p>      
          <h2>26px/28px | spacing 0px</h2>
          <p class="font-26">{% include play-typescale.html %}</p>      
          <h2>26px/28px | spacing 0px</h2>
          <p class="font-26">{% include play-typescale.html %}</p>          
          <h2>28px/30px | spacing 0px</h2>
          <p class="font-28">{% include play-typescale.html %}</p>
          <h2>32px/34px | spacing 0px</h2>
          <p class="font-32">{% include play-typescale.html %}</p>
          <h2>36px/38px | spacing 0px</h2>
          <p class="font-36">{% include play-typescale.html %}</p>
          <h2>42px/44px | spacing 0px</h2>
          <p class="font-42">{% include play-typescale.html %}</p>
          <h2>46px/48px | spacing 0px</h2>
          <p class="font-46">{% include play-typescale.html %}</p>
          <h2>52px/54px | spacing 0px</h2>
          <p class="font-52">{% include play-typescale.html %}</p>
          <h2>58px/60px | spacing 0px</h2>
          <p class="font-58">{% include play-typescale.html %}</p>
          <h2>66px/68px | spacing 0px</h2>
          <p class="font-66">{% include play-typescale.html %} </p>
          <h2>74px/78px | spacing 0px</h2>
          <p class="font-74">{% include play-typescale.html %}</p>
        </div>
      </div>

      <hr>

      <footer style="color: #aeaeae;padding-bottom: 80px;">
        <p>&copy; 2015 &nbsp; CVS Health│One CVS Drive, Woonsocket, RI 02895</p>
      </footer>
    </div> <!-- /container -->